

.button {
	width: 100%;
    text-align:center;
}
#btn {
	width: 95%;
	background-color: darkblue;
}
.button:hover {
	transition-duration: 1.2s;
	transform: scale(1.2);
	box-shadow: 5px 5px white;
	outline: solid 2px black;

}
.homebtn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: silver;
    text-decoration: none;
    color: initial;
	font-size: 2vw;
    
    width: 20%;
    float: left;
    margin-left: 2%;
    margin-top: 0.4%
}
.aboutbtn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: silver;
    text-decoration: none;
    color: initial;
	font-size: 2vw;
	width:20%;
	float: left;
	margin-left: 2%;
	margin-top: 0.4%
	
}
.contactbtn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: silver;
    text-decoration: none;
    color: initial;
	font-size: 2vw;
	width: 20%;
	float: right;
	margin-left: 2%;
	margin-right: -2%;
	margin-top: 0.4%
}
.socialsbtn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: silver;
    text-decoration: none;
    color: initial;
	font-size: 2vw;
	width: 20%;
	float: right;
	margin-left: 2%;
	margin-top: 0.4%
	
}
.sticky {
    position: fixed;
    top: 0.0vw;
    height: 5vw;
    width: 95%;
    z-index: 10;
    animation-name: stretch-to-fit;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
  }
  .sticky .homebtn {
      margin-left: 10.2vw;
      height: 4.5vw;
      line-height: 4vw;
      animation-name: homebutton;
      animation-duration: 2s;
      animation-fill-mode: forwards;
  }
  .sticky .aboutbtn {
      height: 4.5vw;
      line-height: 4vw;
      animation-name: aboutbutton;
      animation-duration: 2s;
      animation-fill-mode: forwards;
  
  }
  
  
  .sticky .socialsbtn {
      height: 4.5vw;
      line-height: 4vw;
      margin-right: 1.81vw;
  
  }
  .sticky .contactbtn {
      height: 4.5vw;
      line-height: 4vw;
      margin-right: 2vw;
      margin-left: 0;
  
  }
  
  
  @keyframes homebutton {
  0%    {
      
      transform: translate( -50%, -0%) scale(1, 1);
      
  }
  100% {
      
      transform: translate( 0, 0) scale(1, 1);
      
  }
  }
  
  @keyframes aboutbutton {
  0%    {
      
      transform: translate( -55%, -0%) scale(1, 1);
      
  }
  100% {
      
      transform: translate( 0, 0) scale(1, 1);
      
  }
  }
  @keyframes stretch-to-fit {
  0% {
      transform-origin:top;
      transform: scale(1, 0.5);
  }
  100% {
      transform-origin:top;
      transform: scale(1, 1);
  }
  }
  .stickyImage {
    position: fixed;
    top: -10vw;
    z-index: 100000;
    max-width: 245px;
    animation-name: logo-roll;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .stickyImage #fakepick {
      width: 5vw;
      height: 5vw;
      margin-top: 3.15vw;
  }
  @keyframes logo-roll {
  0% {
    transform: rotateX(0deg);
    transform: rotateY(180deg);
  
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotateX(360deg);
    transform: rotateY(360deg);
    opacity: 0.7;
  
  }
  }