@font-face {
    font-family: 'Noto Sans JP', sans-serif;
}
.graph_container {
    position: relative;
    background-color: white;
    
    height: 30vw;
    margin: auto;
    left: 1vw;
    margin-top: 15%;
    overflow:hidden;
}
.graph {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
   
    overflow:hidden;
    background-color: turquoise;
    /* z-index: 30; */
}
.heading {
    background-color:red;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    margin-left: 3vw;
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    z-index: 300;       
}
#heading {
    left: -11%;
}
#heading1 {
    margin-left: 17vw;
    font-size: 1.7vw;
    font-family: 'Inconsolata', monospace;
    background-color:#a79e96;
    height: 30vw;
    width: 13vw;
    left: -7vw;
    padding-top: 2.4vw;
    padding-left: 3vw;
    top: -2.4vw;
    z-index:1;
}
#heading2 {
    margin-left: 28vw;
    font-size: 1.7vw;
    font-family: 'Inconsolata', monospace;
    background-color:#BCB4A7;
    height: 30vw;
    width: 11vw;
    left: -5vw;
    padding-top: 2vw;
    padding-left: 1vw;
    top: -2vw;
    z-index:1;
}
#heading3 {
    margin-left: 36.5vw;
    font-size: 1.7vw;
    font-family: 'Inconsolata', monospace;
    background-color:#a79e96;
    height: 30vw;
    width: 10vw;
    left: -2vw;
    padding-top: 2vw;
    padding-left: 3vw;
    top: -2vw;
    z-index:1;
}
#heading4 {
    margin-left: 47vw;
    font-size: 1.7vw;
    font-family: 'Inconsolata', monospace;
    background-color:#BCB4A7;
    height: 30vw;
    width: 10.5vw;
    left: -1.5vw;
    padding-top: 2vw;
    padding-left: 4vw;
    top: -2vw;
    z-index:1;
}
.languages {
    position: absolute;
    background-color: #8E9796;
    border-right: solid 2px black;
    font-family: 'Inconsolata', monospace;
    width: 10vw;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}
.languages p {
    position:relative;
    
    font-size: 1.7vw;
}

#bar1 {
    
    position: relative;
    display: block;
    float:left;
    background-color: #3E4B51;
    width: 100%;
    height: 10%;
    left: -85%;
    top: 20%;
    z-index: 3;
    
}
#bar2 {
    display: block;
    position: relative;
    float:left;
    background-color: #3E4B51;
    width: 100%;
    height: 10%;
    left: -85%;
    top: 30%;
    z-index: 3;
 
}
#bar3 {
    display: inline-block;
    position: relative;
    float:left;
    background-color: #3E4B51;
    width: 100%;
    height: 10%;
    left: -85%;
    top: 40%;
    z-index: 3;

}
#bar4 {
    display: inline-block;
    position: relative;
    float:left;
    background-color: #3E4B51;
    width: 100%;
    height: 10%;
    left: -85%;
    top: 50%;
    z-index: 3;

}

.graph_button {
    display: inline-block;
    position: absolute;
    float:left;
    background-color: #3E4B51;
    width: 14vw;
    height: 14vw;
    border: solid 2px black;
    border-radius: 50%;
    left: 21.7vw;
    top: 8vw;
    z-index: 4;
}
.graph_button p {
    display: inline-block;
    position: absolute;
    font-size: 3vw;
    text-align: center;
}
.bar1_animation {
    
    animation-name: bar1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.bar2_animation {
    animation-name: bar2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.bar3_animation {
    animation-name: bar3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.bar4_animation {
    animation-name: bar4;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
#heading {
    display: inline-block;

    font-family: 'Inconsolata', monospace;
    margin-left: 0.5vw;
    float:right;
}
#lang1 {
    display: inline-block;

    margin-left: 3vw;
}
#lang2 {
    display: inline-block;
    top: 6vw;
    margin-left: -4vw;
    
}
#lang3 {
    display: inline-block;
    top: 6.5vw;
    margin-left: 0.5vw;
}
#lang4 {
    display: inline-block;
    top: 7.5vw;
    margin-left: 2vw;
}
.graph_button_del {
    display: none;
}
@keyframes bar1 {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(50%, 0);
    }
}
@keyframes bar2 {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(60%, 0);
    }
}
@keyframes bar3 {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(70%, 0);
    }
}
@keyframes bar4 {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(40%, 0);
    }
}



@media screen and (max-width:768px) {
.graph_container {
    width: 90vw;
    position: absolute;
    left: 6.0vw;
    top: 45%;
    height: 50vw;
}
#lang1 {
    display: inline-block;
    top: 2vw;
    margin-left: 0.5vw;
}
#lang2 {
    display: inline-block;
    top: 12.5vw;
    margin-left: -5vw;
    
}
#lang3 {
    display: inline-block;
    top: 16.5vw;
    margin-left: 0.5vw;
}
#lang4 {
    display: inline-block;
    top: 21vw;
    margin-left: 0.5vw;
}
#bar1 {
    
    position: relative;
    display: block;
    float:left;
    background-color: yellow;
    width: 100%;
    height: 10%;
    left: -90%;
    top: 20%;
    z-index: 3;
    
}
#bar2 {
    display: block;
    position: relative;
    float:left;
    background-color: green;
    width: 100%;
    height: 10%;
    left: -90%;
    top: 30%;
    z-index: 3;
 
}
#bar3 {
    display: inline-block;
    position: relative;
    float:left;
    background-color: skyblue;
    width: 100%;
    height: 10%;
    left: -90%;
    top: 40%;
    z-index: 3;

}
#bar4 {
    display: inline-block;
    position: relative;
    float:left;
    background-color: purple;
    width: 100%;
    height: 10%;
    left: -90%;
    top: 50%;
    z-index: 3;

}
#heading1 {
    margin-left: 17vw;
    font-size: 1.4vw;
    
    background-color:gold;
    height: 50vw;
    width: 21vw;
    left: -7vw;
    padding-top: 2.4vw;
    padding-left: 7vw;
    top: -2vw;
    z-index:1;
}
#heading2 {
    margin-left: 28vw;
    font-size: 1.7vw;
    background-color:darkgoldenrod;
    height: 50vw;
    width: 17vw;
    left: 5.5vw;
    padding-top: 2vw;
    padding-left: 8vw;
    top: -2vw;
    z-index:1;
}
#heading3 {
    margin-left: 36.5vw;
    font-size: 1.7vw;
    background-color:silver;
    height: 50vw;
    width: 15vw;
    left: 17vw;
    padding-top: 2vw;
    padding-left: 5vw;
    top: -2vw;
    z-index:1;
}
#heading4 {
    margin-left: 47vw;
    font-size: 1.7vw;
    background-color:red;
    height: 50vw;
    width: 15.5vw;
    left: 23.5vw;
    padding-top: 2vw;
    padding-left: 8vw;
    top: -2vw;
    z-index:1;
}
.graph_button {
    display: inline-block;
    position: absolute;
    float:left;
    background-color: purple;
    width: 15vw;
    height: 5vw;
    border-radius: 20%;
    left: 74vw;
    top: 44.5vw;
    z-index: 4;
}
}









@media screen and (max-width:375px) {
    .graph_container {
    width: 90vw;
    position: absolute;
    left: 6.0vw;
    top: 45%;
    height: 50vw;
}
.heading {
    background-color:red;
    display: inline-block;
    margin-left: 3vw;
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    z-index: 300;       
}
#heading {
    left: -11%;
}
#heading1 {
    margin-left: 17vw;
    font-size: 1.7vw;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:#a79e96;
    height: 50vw;
    width: 17vw;
    left: -7vw;
    padding-top: 2.4vw;
    padding-left: 6vw;
    top: -2.4vw;
    z-index:1;
}
#heading2 {
    margin-left: 28vw;
    font-size: 1.7vw;
    background-color:#BCB4A7;
    height: 50vw;
    width: 17vw;
    left: 1vw;
    padding-top: 2vw;
    padding-left: 3.5vw;
    top: -2vw;
    z-index:1;
}
#heading3 {
    margin-left: 36.5vw;
    font-size: 1.7vw;
    background-color:#a79e96;
    height: 50vw;
    width: 17.5vw;
    left: 11vw;
    padding-top: 2vw;
    padding-left: 8vw;
    top: -2vw;
    z-index:1;
}
#heading4 {
    margin-left: 47vw;
    font-size: 1.7vw;
    background-color:#BCB4A7;
    height: 50vw;
    width: 18.5vw;
    left: 20.5vw;
    padding-top: 2vw;
    padding-left: 8vw;
    top: -2vw;
    z-index:1;
}
.languages {
    position: absolute;
    background-color: #8E9796;
    border-right: solid 2px black;
    width: 10vw;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}
.languages p {
    position:relative;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.7vw;
}

#bar1 {
    
    position: relative;
    display: block;
    float:left;
    background-color: #3E4B51;
    width: 100%;
    height: 10%;
    left: -95%;
    top: 20%;
    z-index: 3;
    
}
#bar2 {
    display: block;
    position: relative;
    float:left;
    background-color: #3E4B51;
    width: 100%;
    height: 10%;
    left: -95%;
    top: 30%;
    z-index: 3;
 
}
#bar3 {
    display: inline-block;
    position: relative;
    float:left;
    background-color: #3E4B51;
    width: 100%;
    height: 10%;
    left: -95%;
    top: 40%;
    z-index: 3;

}
#bar4 {
    display: inline-block;
    position: relative;
    float:left;
    background-color: #3E4B51;
    width: 100%;
    height: 10%;
    left: -95%;
    top: 50%;
    z-index: 3;

}

.graph_button {
    display: inline-block;
    position: absolute;
    float:left;
    background-color: #3E4B51;
    width: 14vw;
    height: 4vw;
    border: solid 1px black;
    border-radius: 10%;
    top: 43vw;
    z-index: 4;
}
.graph_button p {
    display: inline-block;
    position: absolute;
    font-size: 2.5vw;
    text-align: center;
    top: -1.5vw;
    left: 1vw;
}
}