@font-face {
    font-family: 'Noto Sans JP', sans-serif;
}

body, html {
    height: 80vw;
    
    width: 100%;
    
    background-color: #3E4B51;
}


.wrapper {
    height: 100%;
    
    
}
.homescreen {
    background-color: #576971;
    height: 100%;
    width: 95%;
    margin: auto;
    border-top: 1vw solid #576971;
    border-bottom: 1vw solid #576971;
    border-right: 0.8vw solid #576971;
    overflow:hidden;
}
.left_container {
    background-color: #8E9796;
    width: 35%;
    height: 100%;
    display:inline-block;

}
.right_container {
    background-color: #3E4B51;
    width:64%;
    height: 100%;
    float: right;
    display:inline-block;

}   


.left_section img {
    display: flex;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    object-fit: cover;
    border: solid 0.2vw black;
    box-shadow: 0.5vw 0.5vw rgba(0,0,0,0.5);
    margin: auto;
    margin-top: 20%;
}

.personalSummary {
    font-size: 1.6vw;
    font-family: 'Noto Sans JP', sans-serif;
    width: 90%;
    margin-left: 5%;
}
.proffesionalSkills {
    font-size: 1.6vw;
    font-family: 'Noto Sans JP', sans-serif;
    width: 90%;
    margin-left: 5%;

}



@media screen and (max-width:768px) {
.right_container {
       height: 200vw;
    }
 .left_container {
     height: 200vw;
 }
 .homescreen {
     height: 200vw;
 }
.personalSummary {
    font-size: 0.8em;
    position: absolute;
    width: 50vw;
    left: 37vw;
    top: 1vw;
    
 
}
.proffesionalSkills {
    font-size: 0.8em;
    position: absolute;
    width: 50vw;
    left: 37vw;
    top: 20vw;
  
 
}
}