html {
	width: 100%;
	height: 100%;
	background-color: yellow;
}
body {
	background-color: red;
	width: 95%;
	height: auto;
	margin: auto;
	overflow: auto;
}
.wrapper {
	height: 100%;
	width: 100%;
}
.header-background {
	background-color: violet;
	width: 100%;
	height: 10vw;
}
nav {
	background-color: darkblue;
	width: 100%;
	height: 3vw;
	z-index: 2;
}
#fakepick {
	background-color: orange;
	width: 10%;
	height: 10vw;

	margin: auto;
	position: relative;
	top: 3vw;
	border-radius: 50%;
	z-index: 3;
}


}
.button {
	width: 100%;
	background-color: pink;

}
.button:hover {
	transition-duration: 1.5s;
	transform: scale(1.1);
	border-style: solid;
	background-color: white;
	border-width:5px;
	border-color: black;
}
.homebtn {
	font-size: 2vw;
    width: 20%;
    float: left;
    margin-left: 2%;
}
.aboutbtn {
	font-size: 2vw;
	width:20%;
	float: left;
	margin-left: 2%;
	
}
.contactbtn {
	font-size: 2vw;
	width: 20%;
	float: right;
	margin-left: 2%;
	margin-right: 2%;
}
.socialsbtn {
	font-size: 2vw;
	width: 20%;
	float: right;
	margin-left: 2%;
	
}
.sect1 {
	padding: 0 1% 0 1%;
	width: 48%;
	background-color:purple;
	font-size: 5em;
	float: right;
	margin: 3%;
}

.photo {
	background-color: silver;
	display: inline-block;

	width: 40%;
	height: 50vh;
	margin: 2%;
}
.sect2 {
	padding: 0 1% 0 1%;
	width: 50%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	background-color:purple;
	font-size: 5em;
	float: left;
}
.clearfix:after {
	content: '.';
	display: block;
	clear:both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}
footer {
	position: absolute;
	background-color: peru;
	height: 5%;
	
	width: 95%;
	
}

.sticky {

  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
}
.stickyImage {
  position: fixed;
  top: 0;
  z-index: 10;
  max-width: 245px;
  animation-name: logo-roll;
  animation-duration: 2s;
  animation-fill-mode: forwards;
<<<<<<< HEAD
} 

@keyframes logo-roll {


0% {
  transform: rotateX(0deg);
  transform: rotateY(180deg);

  opacity: 1;
}
90% {
  opacity: 1;
}
100% {
  transform: rotateX(360deg);
  transform: rotateY(360deg);
  opacity: 0.7;

}
}