.opening_wrapper_left {
    position: absolute;
    height: 85vw;
    width: 50%;
    background-color: #BCB4A7;
    z-index: 999;

}

#button {
    position: absolute;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    margin-left:40%;
    margin-top: 30vw;
    z-index: 1000;
    
}
#home_click_here {
    position:absolute;
    z-index: 1001;
    font-family: 'Inconsolata', monospace;
    width: 20%;
    text-align: center;
    margin-left: 40vw;
    top: 36vw;
    font-size: 2.8vw;
    color: white;
}
.opening_wrapper_right {
    position: absolute;
    height: 85vw;
    width: 50%;
    margin-left: 50%;
    background-color: silver;
    z-index: 999;
    
}
.hide {
    display: none;
}
@keyframes test {
    0% {
        transform:translate(0,0);
    }
    100% {
        transform:translate(150%,0%);
    }
}
@keyframes test2 {
    0% {
        transform:translate(0,0);
    }
    100% {
        transform:translate(-150%,0%);
    }
}
@keyframes test3 {
    0% {
        transform:translate(0,0);
    }
    
    100% {
        transform:translate(-400%,0%);
    }
}
.slide_left {
    animation-name: test2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.buttonSlide {
    animation-name: test3;
    animation-duration: 3.1s;
    animation-fill-mode: forwards;
}
.slide_right {
    animation-name: test;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@media screen and (max-width:768px) {
 .opening_wrapper_left {
     height: 240vw;
 }   
 .opening_wrapper_right {
     height: 240vw;
 }
}